# Prerequisites
*.d
*.tmp

# Object files
*.o
*.ko
*.obj
*.elf
*.disasm

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Image
*.img
*.iso
*.vhd
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.dump

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# develop
develop/image/
develop/local/

develop/rom/bin/
develop/rom/sbin/
develop/rom/usr/
develop/rom/acct/
develop/bochs/

# linux fixdep
user/libs/fixdep
user/sbin/fixdep
user/bin/fixdep
src/fixdep

# linux tools 
tools/fatfs/fatfs

# dir
recycle

# need commit to git
!scripts/fixdep.exe

# system app
user/sbin/init/init
user/sbin/init/initg
user/sbin/desktop/desktop
user/sbin/sh/sh
user/sbin/login/login
user/sbin/userctl/userctl
user/sbin/service/service

# service
user/serv/netserv/netserv
user/serv/testserv/testserv
# user app

# /bin
user/bin/cat/cat
user/bin/cpuinfo/cpuinfo
user/bin/echo/echo
user/bin/cp/cp
user/bin/date/date
user/bin/ls/ls
user/bin/mem/mem
user/bin/mkdir/mkdir
user/bin/mv/mv
user/bin/ps/ps
user/bin/rename/rename
user/bin/rm/rm
user/bin/rmdir/rmdir
user/bin/touch/touch
user/bin/trig/trig
user/bin/osver/osver
user/bin/xbrower/xbrower

# /bin
user/bin/bosh/bosh
user/bin/c4/c4
user/bin/cpptests/cpptests
user/bin/freeterm/freeterm
user/bin/gato/gato
user/bin/hello/hello
user/bin/infones/infones
user/bin/invader/invader
user/bin/lua/lua
user/bin/lvgl/lv
user/bin/lvgl2/lv2
user/bin/microui/mui
user/bin/socket_client/socket_client
user/bin/socket_server/socket_server
user/bin/tests/tests
user/bin/vt100/vt100
user/bin/win/win
user/bin/cal/cal
user/bin/sound/sound
user/bin/wavplayer/wavplayer
user/bin/mp3player/mp3player
user/bin/hello/hello