# Prerequisites
*.d
*.tmp

# Object files
*.o
*.ko
*.obj
*.elf
*.disasm

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Image
*.img
*.iso
*.vhd
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.dump

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# develop
develop/image/
develop/local/

develop/rom/bin/
develop/rom/sbin/
develop/rom/acct/
develop/bochs/

# linux fixdep
user/libs/fixdep
user/sbin/fixdep
user/bin/fixdep
src/fixdep

# linux tools 
tools/fatfs/fatfs

# dir
recycle

# need commit to git
!scripts/fixdep.exe

# system bin
user/sbin/init/init
user/sbin/login/login
user/sbin/netserv/netserv

# /bin
user/bin/cat/cat
user/bin/cal/cal
user/bin/cp/cp
user/bin/cpuinfo/cpuinfo
user/bin/date/date
user/bin/echo/echo
user/bin/ls/ls
user/bin/mem/mem
user/bin/mkdir/mkdir
user/bin/mv/mv
user/bin/uname/uname
user/bin/ps/ps
user/bin/rename/rename
user/bin/rm/rm
user/bin/rmdir/rmdir
user/bin/sh/sh
user/bin/sys/sys
user/bin/tests/tests
user/bin/touch/touch
user/bin/bash/bash
user/bin/hello/hello
user/bin/uview/uview
